body{
	color: green;
	/*cambia el texto a verde pero pasa lo siguiente:
	*el color en body se declara que blanco sera su color principal
	*la etiqueta p se establece en color blue por lo que revierte el color blanco base de body  
	
	*/
}
body{
	background-color: black;
	color: white !important; /*conserva el color blanco del texto evitando que sea modificado mas abajo*/
	font-family: Verdana;
}

h1 {
	font-family: Arial;
}

a {
	color: inherit;
}

div{
	margin-top: 10px;
	margin-left: 20px;
}

body{
	color: red; 
	/* Cambia el color ya antes establecido en blanco a rojo */
}

p{
	color: blue;
}